
body{
    background:url("assets/background1.svg"); 
    background-size:cover; 
    color:white; 
    margin:auto;    
}
.first{
    padding-top: 50px;
    text-align:center;
}
.second{
    text-align: center;
}