
.navbar-default {
    background-color:red;
}
.sm{
    text-align:center;
     padding-top: 200px; 
}
.img-responsive
    {
        width: 500px;
        display: inline;
        margin-left: 80px;
          text-align:center;
    }

.img-responsive1
{
    width: 500px;
      text-align:center;
      margin-left: 200px;
}