body{
    background-color: lightgrey;
    text-align: center;
}
img
{
    width:25%;
    vertical-align: center;
}
.somm{
    width: 450%
    text-align: center;
   
}
.smm
{
   display:inline-block; 
   background-color: lightblue;
}
h4{
    display:inline-block;
    width : 50%;
    vertical-align: center;
}